$transition-time: 200ms;

/* reset */
.list-container,
.list,
.list-item,
.list-item-content ,
.list-item-background,
.list-item-left-background,
.list-item-right-background {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-callout: none;
  user-select: none;
}

/* basic */
.list-container {
  position: relative;
  overflow: scroll;
}
.list {
  list-style: none;
  width: 100%;
  .list-item {
    overflow: hidden;
    transition: $transition-time ease-out;
    will-change: transform, height, max-height;

    &__holding {
      position: relative;
      z-index: 1;
    }

    &-transition-enter {
      max-height: 0;
    }

    &-transition-leave {
      transition: height $transition-time ease-out;
      &-active {
        height: 0!important;
      }
    }

    .list-item-content {
      transition: $transition-time ease-out;
    }

    .list-item-background {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
    }
    .list-item-left-background {
      left: 0;
      text-align: left;
    }
    .list-item-right-background {
      right: 0;
      text-align: right;
    }

    &__moving {
      position: relative;
    }
  }
}

/* structure */
/* .list { */
/*   .list-item { */
/*     .list-item__holding {} */
/*     .list-item__sorting {} */
/*     .list-item-content {} */
/*     .list-item-background {} */
/*     .list-item-background__will-swipe {} */
/*     .list-item-left-background {} */
/*     .list-item-right-background {} */
/*   } */
/* } */

/* custom */
.list-container {
  height: 300px;
  .list {
    border-top: solid 1px #aaa;
    .list-item {
      border-bottom: solid 1px #aaa;
      background-color: #fff;

      &__holding {
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
        transition-property: box-shadow;
      }

      .list-item-content {
        background-color: red;
        padding: 12px;
      }
      .list-item-left-background {
        background-color: blue;
      }
      .list-item-right-background {
        background-color: green;
      }
      .list-item-background {
        transition: $transition-time ease-out;
        transition-property: background, color;
        &__will-swipe {
          background: brown;
          color: #fff;
        }
      }
    }
  }
}
